body {
  font-family: 'Ga Maamli', sans-serif;
  background-color: #f4f4f9;
}
.review-card {

  margin: 20px 0;
}
.star-rating i {
  color: #f39c12;
}
.card-text{
  color: black;
}
#cob {
  /* Optional: Adjust padding and margins as needed */
  padding: 0px;
  /* margin-right: 10px; */
  border: 2px solid #feffff; /* Blue border */
  border-radius: 6px; /* Rounded corners */
}

#cob .nav-link {
  display: block; /* Ensures full clickable area */
   /* Padding inside the box */
  color: #fafafa; /* Blue text color */
  text-decoration: none; /* Remove underline */
}

#cob .nav-link:hover {
  background-color: #742607; /* Blue background on hover */
  color: #fff; /* White text on hover */
} 


.about-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.about-content p,
footer p {
  color: #777;
}

#cob {
  padding: 0px;
  border: 2px solid #feffff;
  border-radius: 6px;
}

#cob .nav-link {
  display: block;
  color: #fafafa;
  text-decoration: none;
}

#cob .nav-link:hover {
  background-color: #742607;
  color: #fff;
}

.review-card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.review-card .card-body {
  padding: 30px;
}

.review-card .star-rating .fa-star {
  color: #FFD700;
}

footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}